<!DOCTYPE html>
<html lang="en">
	<head>
		<title>HBNB</title>
	</head>
	<body>
		{% if db == 'db' %} {% if id is not none %} {% for
		state in states %} {% if state.id == id %}
		<h1>State: {{state.name}}</h1>
		<h3>Cities:</h3>
		<ul>
			{% for city in state.cities %}
			<li>City: {{city.id}}: <b>{{city.name}}</b></li>
			{% endfor %}
		</ul>
		{% endif %} {% endfor %} {% if id_found == false %}
		<h1>Not found!</h1>
		{% endif %} {% else %}
		<h1>States</h1>
		<ul>
			{% for state in states|sort(attribute="name") %}
			<li>State: {{ state.id }}: <b>{{ state.name }}</b></li>
			{% endfor %}
		</ul>
		{% endif %} {% else %} {% if id is not none %} {%
		for state in states %} {% if state.id == id %}
		<h1>State: {{state.name}}</h1>
		<h3>Cities:</h3>
		<ul>
			{% for city in state.cities() %}
			<li>City: {{city.id}}: <b>{{city.name}}</b></li>
			{% endfor %}
		</ul>
		{% endif %} {% endfor %} {% if id_found == false %}
		<h1>Not found!</h1>
		{%endif%} {% else %}
		<h1>States</h1>
		<ul>
			{% for state in states|sort(attribute="name") %}
			<li>State: {{ state.id }}: <b>{{ state.name }}</b></li>
			{% endfor %}
		</ul>
		{% endif %} {% endif %}
	</body>
</html>
