<!DOCTYPE html>
<HTML lang="en">
	<HEAD>
		<TITLE>HBNB</TITLE>
	</HEAD>
	<BODY>
		{% if db == 'db' %} {% if id is not none %} {% for
		state in states %} {% if state.id == id %}
		<H1>State: {{state.name}}</H1>
		<H3>Cities:</H3>
		<UL>
			{% for city in state.cities %}
			<LI>City: {{city.id}}: <B>{{city.name}}</B></LI>
			{% endfor %}
		</UL>
		{% endif %} {% endfor %} {% if id_found == false %}
		<H1>Not found!</H1>
		{% endif %} {% else %}
		<H1>States</H1>
		<UL>
			{% for state in states|sort(attribute="name") %}
			<LI>State: {{ state.id }}: <B>{{ state.name }}</B></LI>
			{% endfor %}
		</UL>
		{% endif %} {% else %} {% if id is not none %} {%
		for state in states %} {% if state.id == id %}
		<H1>State: {{state.name}}</H1>
		<H3>Cities:</H3>
		<UL>
			{% for city in state.cities() %}
			<LI>City: {{city.id}}: <B>{{city.name}}</B></LI>
			{% endfor %}
		</UL>
		{% endif %} {% endfor %} {% if id_found == false %}
		<H1>Not found!</H1>
		{%endif%} {% else %}
		<H1>States</H1>
		<UL>
			{% for state in states|sort(attribute="name") %}
			<LI>State: {{ state.id }}: <B>{{ state.name }}</B></LI>
			{% endfor %}
		</UL>
		{% endif %} {% endif %}
	</BODY>
</HTML>
